{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>KPI team</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/auth-style.css' %}">

        <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>

    </head>

    <body>
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>KPI сервис</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                       			<h3>Авторизация</h3>
                        		<p>Введите логин и пароль для входа на сайт</p>                    
			                    <form role="form" action="/auth/" method="post" class="login-form">{% csrf_token %}
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">Логин</label>
			                        	<input type="text" name="username" placeholder="Логин..." class="form-username form-control" id="form-username">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Пароль</label>
			                        	<input type="password" name="password" placeholder="Пароль..." class="form-password form-control" id="form-password">
			                        </div>
			                        <button type="submit" class="btn">Войти</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        
    </body>
</html>