{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>KPI team</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>

<body>
	<div class="wrapper fixed">
  		<header class="main-header">
			<nav class="navbar" role="navigation">
		  		<button type="button" class="navbar-toggle collapsed sidebar-toggle" data-toggle="push-menu">
			  		<span class="sr-only">Кнопка, которая раскрывает панель навигации</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
			    <div class="navbar-brand">{% block title%}{% endblock%}</div>
			    <div class="logout nav navbar-nav navbar-right">
               		<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span><div class="menu-name">Выйти</div></a></li>
            	</div>    
		    </nav>
  		</header>
  	<!-- Левая панель навигации -->
  	<aside class="main-sidebar">
	    <section class="sidebar">
		    <div class="user-panel">
		        <!-- Фото профиля -->
		        <img src="{{ request.user.employee.photo.url }}" class="img-circle img-responsive center-block" alt="User Image">
		        <div class="info">
		         	<!--  Имя пользователя -->
		          	<p class="text-center">{{ request.user.first_name }} {{ request.user.last_name }}</p>

		        </div>
		    </div>

	      	<!-- Меню -->
	      	<ul class="sidebar-menu" data-widget="tree">
	       
	        	<li><a href="{% url 'profile' request.user.pk %}"><span class="glyphicon glyphicon-user"></span>
	          		<div class="menu-name">Профиль</div></a></li>
				
				{% if request.user.employee.is_director %}
	       		<li class="treeview">
			        <a href="#"><span class="glyphicon glyphicon-stats"></span>
			            <div class="menu-name">KPI</div>
			            <span class="glyphicon glyphicon-menu-down pull-right"></span>
			        </a>
			        
			        <ul class="treeview-menu">
			            <li><a href="{% url 'stats' request.user.pk %}">  Мой KPI</a></li>
			            <li><a href="{% url 'employees' %}">  KPI сотрудников</a></li>
			        </ul>
		        </li>
		        {% else %}
		        <li><a href="{% url 'stats' request.user.pk %}"><span class="glyphicon glyphicon-stats"></span>
			            <div class="menu-name">KPI</div></a></li>
			    {% endif %}
			    {% if request.user.employee.is_director %}
		        <li class="treeview">
		          	<a href="#"><span class="glyphicon glyphicon-th-list"></span>
		            	<div class="menu-name">Задачи</div>
		            	<span class="glyphicon glyphicon-menu-down pull-right"></span>
		            </a>
		            <ul class="treeview-menu">
		            	<li><a href="{% url 'tasks' %}">  Мои задачи</a></li>
		            	<li><a href="{% url 'employees_tasks' %}">  Задачи сотрудников</a></li>
		          	</ul>
		        </li>
		        {% else %}
		        <li><a href="{% url 'tasks' %}"><span class="glyphicon glyphicon-th-list"></span>
		            	<div class="menu-name">Задачи</div></a></li>
		        {% endif %}
	      	</ul>
    	</section>
  	</aside>

	<!-- Основное поле  с контентом -->
	<div class="content-wrapper">
	    <section class="content container-fluid">
	    {% block content%}
        {% endblock%}
    	</section>
  	</div>

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/adminlte.min.js' %}"></script>
	</body>
</html>