{% extends 'KPITest/base.html'%}
 {% load staticfiles %}
 {% block title%}Задачи{% endblock%}
 {% block content %}
<div class="container">
	<form class="form-basic" method="post" action="#">
		<div class="form-title-row">
		    <h1>Создать задачу</h1>
		</div>
		<div class="row">
	        <label>
	            <div class="col-lg-3 col-md-3"><div class="description">Задачи</div></div>
	            <div class="col-lg-9 col-md-9"><select name ="task" required>>
	                <option value="">Выберите задачу</option>
	                <option >Option Two</option>
	                <option>Option Three</option>
	                <option>Option Four</option>
	            </select></div>
	        </label>		
		</div>

	    <div class="row">
		    <label>
		        <div class="col-lg-3 col-md-3"><div class="description">Ожидаемый результат</div></div>
		        <!-- Здесь будет условие, которое проверяет в зависимости от выбранной выше задачи, что дописать: шт или % -->
		        <div class="col-lg-9 col-md-9"><input type="text" name="count" placeholder="Введите число, шт." required></div>
		    </label>
		
		</div>
		<div class="row">
	    	<label>
		        <div class="col-lg-3 col-md-3"><div class="description">Дата</div></div>
		        <div class="col-lg-9 col-md-9"><input type="date" name="date" placeholder="Введите число" required></div>
		    </label>
		</div>

		<div class="form-row">
		    <a role="button" type="submit" class="send btn btn-primary"><a href="#">Сохранить</a></a>
		</div>

	</form>
</div>
 {% endblock content %}