 {% extends 'KPITest/base.html'%}
 {% load staticfiles %}
 {% block title%}Задачи{% endblock%}
 {% block content %}
<div class="container-fluid">
 	<form class="form-basic" method="post" action="{% url 'profile' request.user.id %}">{% csrf_token %}
        {{ form.non_field_errors }}
		<div class="form-title-row">
		    <h1>Создать задачу</h1>
		</div>
		<div class="form-row">
            <label>
                <div class="description">Задачи</div>
                <select name="task" required>
                    {% for tc in tcs  %}
                        <option value="{{ tc.id }}">{{ tc.name }}</option>
                    {% endfor %}
                    <!-- <option value="">Выберите задачу</option> -->
                </select>
            </label>
        </div>

		<div class="form-row">
		    <label>
		        <div class="description">Ожидаемый результат</div>
		        <!-- Здесь будет условие, которое проверяет в зависимости от выбранной выше задачи, что дописать: шт или % -->

                <input type="text" name="count" placeholder="Введите число, шт." required>
		    </label>
		</div>

		<div class="form-row">
	    	<label>
		        <div class="description">Дата</div>

		        <input type="date" name="date" placeholder="Введите число" required>
		    </label>
		</div>

		<div class="form-row">
		    <button type="submit" class="send">Сохранить</button>
		</div>

	</form>
</div>
 {% endblock content %}