{% extends 'KPITest/base.html'%}
 {% load staticfiles %}
 {% block title%}Профиль{% endblock%}
 {% block content %}
 <div class="content-basic">
 <div class="row">
	    <div class="container-fluid">
            <h3>{{ employee.user.last_name }} {{ employee.user.first_name }} {{ employee.middle_name }}</h3>
      	</div>
	          <hr>
	      <div class="row"> 
	      <div class="col-xs-12 col-sm-5 col-sm-push-7 col-md-6 col-md-push-6 col-lg-6 col-lg-push-6">
		        <div class="profile-photo">
		            <img src="img/ex.svg" class="img-profile img-circle img-responsive center-block">
		        </div>
	        </div>
	      	<div class="col-xs-12 col-sm-7 col-sm-pull-5 col-md-6 col-md-pull-6 col-lg-6 col-lg-pull-6">
	            <ul class="container-fluid details">
	            	<li><p><span class="glyphicon glyphicon-user"></span><div class="profile-data">Возраст (в годах): {{ employee.age }}</div></p></li>
	            	<li><p><span class="glyphicon glyphicon-home"></span><div class="profile-data">
	            	{% if employee.departments_e.all.exists %}
                        {% for d in employee.departments_e.all %}
                            {{ d.name }}
                        {% endfor %}
                    {% else %}
                        Нет отделов
                    {% endif %}</div></p></li>
	             	<li><p><span class="glyphicon glyphicon-briefcase"></span><div class="profile-data">
					{% if employee.position.all.exists %}
                        {% for pos in employee.position.all %}
                            {{ pos.name }}
                        {% endfor %}
                    {% else %}
                        Нет должностей
                    {% endif %}
	             	</div></p></li>
	              	<li><p><span class="glyphicon glyphicon-envelope"></span><div class="profile-data">{{ employee.user.email }}</div></p></li>
	            </ul>
	        </div>
	      </div>
	    </div>
	</div>
 {% endblock content %}