{% extends 'KPITest/base.html'%}
{% load staticfiles %}
{% block title%}Задачи{% endblock%}
{% block content%}
<div class="content-basic">
    <h2>Мои задачи</h2>
	<div class="list-group">


	<!-- Блок задачи -->
	{% for task in tasks %}
	<div class="list-group-item" >
		<h3 class="list-group-item-heading">{{ task.context.name }}</h3>
		    <small><span class="time glyphicon glyphicon-time"></span>{{ task.get_date }}</small>
			<hr>
		    <div class="row">
				<div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
					<p class="list-group-item-text"><h4>{{ task.parent.department.name }}</h4></p>
	                <!--   состояния: alert-success, alert-warning, alert-danger -->
		            <p class="list-group-item-text alert-warning">В процессе</p>
                </div>
				<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
					<a type="button" href="{% comment %}{% url 'execute_task' task.pk %}{% endcomment %}" class="btn btn-primary">Выполнить</a>
	                {% if task.report.all.count == 0  %}
	                    <button type="button" class=" btn btn-primary" disabled>Просмотреть отчет</button>
	    			{% else %}
				        <a role="button" href="{% url 'reports_list' task.pk%}" class="btn btn-primary">Просмотреть отчет</a>
		            {% endif %}
		    	</div>
			</div>
			<div class="collapse-info">
				<button type="button" class="btn btn-default btn-sm" data-target="#{{ task.pk }}" data-toggle="collapse">Подробнее</button>
				<div id="{{ task.pk }}" class="collapse"><div class="well">{{ task.description }}</div></div>
			</div>
		</div>
	{% endfor %}
	<!-- Конец блока задачи -->
	</div>
</div>
{% endblock content %}